.App {
  text-align: center;
  background-image: url("https://wallpapertag.com/wallpaper/full/c/8/b/197047-most-popular-rustic-barn-wood-background-1942x1152-for-mac.jpg");
  background-repeat: no-repeat;
  overflow: auto;
  height: 100vh;
  width: auto;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}
.App-header {
 margin-top: 0px;
 background-image: url("https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/14572761_658201457683072_6832837699926706641_n.jpg?_nc_cat=0&oh=0bfb3d57b36e2877e1b04500e2119e8d&oe=5BFB173E");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: bottom;
 height: 85vh;
 padding: 150px;
 color: white;
 outline: black;
 font-family:  'Lobster', cursive;
 font-size: xx-large;
 border: black;
border-style: solid;
border-width: .5px;
border-radius: 15px;
}

.textparagraph{
  font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.App-logo {
  height: 60vh;
  padding: 30px;
}

.App-logo-main{
  height:40vh;
  margin-top: 100px;
}

.App-logo-main-inbox{
  height:40vh;
  margin-top: 10px;
}

.App-logo-foundation-inbox{
  width: 85%;
  margin-bottom: 20px;
}

.HomeBut{
  margin-bottom: 150px;
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.homeButtons{
  width: 35%;
  height: 30vh;
  background:  rgba(242, 246, 247, 0.7);
  margin-top: 70px;
margin-bottom: 20px;
border: black;
border-style: solid;
border-width: .5px;
border-radius: 15px;
padding: 10px;
font-size: 35px;
font-family:  'Lobster', cursive;
}

.dashTitle {
  color: white;
 outline: black;
 font-family:  'Lobster', cursive;
  font-size: 2.5em;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  margin-top: 0px;
}

.textTitle{
  color: black;
 font-family:  'Lobster', cursive;
  font-size: xx-large;
  text-decoration: overline;
  margin-top: 0px;
}

.pupimage {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    border-style: solid;
    border:black;
    border-width: .5px;
    border-radius: 10px;
}
.buybutton{
  margin-bottom: 30px;
  background-color: rgb(77, 121, 255);
  color: white;
  height: 35px;
  width:auto; 
  border-radius: 10px;
}

.textContainer{
  background:  rgba(242, 246, 247, 0.7);
  width: 75%;
  min-height: calc(100vh - 170px);
  height: fit-content;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 0px;
  border: black;
  border-style: solid;
  border-width: .5px;
  border-radius: 15px;
  }
  
  .textContainer-pup{
    background:  rgba(242, 246, 247, 0.7);
    width: 75%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 0px;
    border: black;
    border-style: solid;
    border-width: .5px;
    border-radius: 15px;
    }

.totalBox{
  background:  rgba(242, 246, 247, 0.7);
  width: 20%;
  height: 20vh;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 50px;
  border: black;
  border-style: solid;
  border-width: .5px;
  border-radius: 15px; 
}

.totalprice{
  margin-top: 5vh;
  margin-bottom: 4vh;
}

.Navbar {
  background-color: transparent;
  background: rgba(242, 246, 247, 0.322);
  height: 70px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
   }

   .homeNavB{
     padding: 10px;
    height:40px; 
    background-color: transparent;
    border:transparent;
    font-size: 1.5em;
    color: white;
font-family:  'Lobster', cursive;
text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }

  .foundationNavB{
    padding: 10px;
    height:40px; 
    background-color: transparent;
    border:transparent;
    font-size: 1.5em;  
    color: white;
font-family:  'Lobster', cursive;
text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }
  .puppiesNavB{
    padding: 10px;
    height:40px;
    background-color: transparent;
    border:transparent;
    font-size: 1.5em;
    color: white;
font-family:  'Lobster', cursive;
text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }
  .aboutNavB{
    padding: 10px;
    height:40px;
    background-color: transparent;
    border:transparent;
    font-size: 1.5em;
    color: white;
font-family:  'Lobster', cursive;
text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }
  .faqNavB{
    padding: 10px;
    height:40px; 
    background-color: transparent;
    border:transparent;
    font-size: 1.5em;
    color: white;
font-family:  'Lobster', cursive;
text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }
  .locationsNavB{
    padding: 10px;
    height:40px; 
    background-color: transparent;
    border:transparent;
    font-size: 1.5em;
    color: white;
font-family:  'Lobster', cursive;
text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }

  .puppyCartNavB{
    height:40px;
    padding: 10px; 
    background-color: transparent;
    border:transparent;
    font-size: 1.5em;
    color: white;
font-family:  'Lobster', cursive;
text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  }

.App-title {
  font-size: 1.5em;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

.App-intro {
  font-size: large;
}

.Footer {
  background-color: #262626;
  width: 100%;
  margin-bottom: 0vh;
  width: auto;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: inherit;
  bottom: 0;
  left: 0; */
}

.socialButtons{
  display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 3px white;
    font-size: 25px;
    text-align: center;
    word-spacing: 10px
}

.fab{
  color: black;
  width: auto;
  object-fit: cover;
  margin: 0 auto;
}

.contact{
  color:white;
  font-size: 20px;
  font-family:  'Lobster', cursive;
}
.text{
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom:50px;
  text-align: left;
  line-height: 1;
  font-size: 2em;
}

.about{
  font-size: 1.5em;
  text-indent: 50px;
}

.a{
  font-size: .8em;
}
/* white logo */
/* <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/13902687_625350567634828_5222364184156045150_n.jpg?_nc_cat=0&oh=34acb1268d760d21e3fbfb303f429876&oe=5BFD8D70" className="App-logo" alt="logo" /> */

/* transparent logo */
/* <img id="comp-jehj57caimgimage" alt="" data-type="image" src="https://static.wixstatic.com/media/693150_f8abf0d27b5e4e4d9d4431dfb46483f0~mv2_d_1500_1308_s_2.png/v1/fill/w_474,h_414,al_c,q_80,usm_0.66_1.00_0.01/693150_f8abf0d27b5e4e4d9d4431dfb46483f0~mv2_d_1500_1308_s_2.webp" style="width: 237px; height: 207px; object-fit: cover;"> */